@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-app-bg: var(--color-zinc-50);
  --color-component-bg: var(--color-zinc-50);
  --color-component-bg-hovered: var(--color-zinc-200);
  --color-focus: var(--color-rose-600);
  --color-app-bg-open-modal: var(--color-zinc-700);
  --color-modal-bg: var(--color-zinc-50);
  --color-app-text: var(--color-zinc-950);
  --color-title-text: var(--color-zinc-950);
  --color-button-primary: var(--color-rose-600);
  --color-button-primary-hovered: var(--color-rose-700);
  --color-button-primary-text: var(--color-zinc-50);
  --color-button-secondary: var(--color-zinc-50);
  --color-button-secondary-hovered: var(--color-zinc-200);
  --color-button-secondary-text: var(--color-zinc-600);
  --color-border: var(--color-zinc-300);
}

.dark {
  --color-app-bg: var(--color-zinc-950);
  --color-component-bg: var(--color-zinc-800);
  --color-component-bg-hovered: var(--color-zinc-700);
  --color-focus: var(--color-rose-700);
  --color-app-bg-open-modal: var(--color-zinc-950);
  --color-modal-bg: var(--color-zinc-900);
  --color-app-text: var(--color-zinc-50);
  --color-title-text: var(--color-zinc-50);
  --color-button-primary: var(--color-rose-900);
  --color-button-primary-hovered: var(--color-rose-800);
  --color-button-primary-text: var(--color-zinc-50);
  --color-button-secondary: var(--color-zinc-800);
  --color-button-secondary-hovered: var(--color-zinc-700);
  --color-button-secondary-text: var(--color-zinc-50);
  --color-border: var(--color-zinc-800);
}
